[Unit]
Description=Write kubecofig to a tmp file
Wants=network-online.target
After=network-online.target

Wants=sys-subsystem-net-devices-wlan0.device
After=sys-subsystem-net-devices-wlan0.device

Wants=sys-devices-virtual-net-br10.device
After=sys-devices-virtual-net-br10.device

Wants=sys-subsystem-net-devices-lan0.device
After=sys-subsystem-net-devices-lan0.device

[Service]
ExecStart=%h/.scripts/mem-kubeconfig.sh
Restart=always

[Install]
WantedBy=default.target
