[Unit]
Description=Write kubeconfig to a tmp file
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=%h/.scripts/mem-kubeconfig.sh
Restart=always

[Install]
WantedBy=default.target
