[Unit]
Description=Write kubecofig to a tmp file

[Service]
Type=oneshot
ExecStart=/home/jedrw/.scripts/mem-kubeconfig.sh
RemainAfterExit=yes

[Install]
WantedBy=default.target