[Unit]
Description=Automount smbcredentials from keyring
DefaultDependencies=no
Before=basic.target

[Service]
ExecStart=%h/.scripts/smbcredentials.sh
Restart = always

[Install]
WantedBy=basic.target